<!DOCTYPE html>
<html>

<head>
  <title>New Snippet</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <%- include('../partials/navbar') %>
    <%- include('../partials/flash') %>

      <h1>Create New Snippet</h1>

      <form method="post" action="/snippets">
        <label>Title</label>
        <input name="title" required>

        <label>Language</label>
        <input name="language">

        <label>Tags (comma separated)</label>
        <input name="tags" placeholder="CSS, JavaScript, HTML, UI">

        <label>Code</label>
        <textarea name="code" rows="10" required></textarea>

        <button type="submit">Create</button>
      </form>

</body>

</html>